@inject HttpClient Http;

<input @bind="Value" @bind:after="SomeChange" placeholder="Updating this field returns the weather" />

@if (forecasts is not null && forecasts.Any())
{
<div class="weather">The weather for @forecasts[0].Date is @forecasts[0].TemperatureC C</div>
}

@code {
    [Parameter]
    public string? Value { get; set; }

    private WeatherForecast[]? forecasts { get; set; }

    private async Task SomeChange()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }
}
